* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

// transforma 1 rem em 10px
html {
  font-size: 62.5%;
}

.bg-rosa-escuro {
  background-color: #ff69b4;
}

.bg-rosa-claro {
  background-color: #ffd9ec;
}

header {
  color: #e4eef1;

  display: flex;
  justify-content: space-around;
  align-items: center;

  text-transform: uppercase;

  padding: 1rem 0;

  .logo {
    display: flex;
    align-items: center;

    gap: 0.5rem;

    h3 {
      font-size: 2.8rem;
    }
  }

  nav {
    width: 40%;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        list-style: none;
        font-size: 2rem;

        cursor: pointer;

        a {
          text-decoration: none;
          color: #e4eef1;
        }
      }
    }
  }
}

main {
  article {
    padding: 3rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    p {
      width: 40%;
      text-align: justify;

      font-size: 2.5rem;
    }
  }

  article#conscientizacao {
    color: #e4eef1;
  }

  article#dicas {
    padding: 8rem 0;

    display: flex;
    justify-content: space-evenly;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  padding: 2rem 0;

  .links {
    width: 15%;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .info {
    color: #e4eef1;
    text-align: center;
    line-height: 2.5rem;
    font-size: 1rem;
  }
}
